<div id="container">
	<aside>
		<header>
			<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
            <link rel="stylesheet" href="static/css/style.css">			
	     <link rel="wf_loading" href="static/css/wf_loading.css">
<style>
	     #loading {
position: fixed;
    left: 57%;
    top: 43%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 16px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width:120px;
    height:120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

</style>
<script>
 isLoading = {
  start: function() {
  loading.style.display='block';
  },
  stop: function() {
  loading.style.display='none';
  }
}

</script>

		</header>
		
			<li>
				<img src="static/css/emotion/logo.jpg" alt="" width="80px" height="80px">
				<div>	  <h3> dividivideeplearning</h4>

				</div>
			</li>			
		
	</aside>
	<main>
		<header>
			<img src="static/css/emotion/logo.jpg" alt="" width="60px" height="60px">
			<div>
				<h2>챗봇</h2> </div>		
			
		</header>


		
			
		<ul id="chat">
			<div id="loading" style="display:none;"></div>
                        {%for value in msg%}
			{%if loop.index%2==1%}
			<li class="me">
                        <div class="entete">
                        <h2>Me</h2>
                        <span class="status blue"></span></div>
                        <div class="triangle"></div>
                        <div class="message">{{value}}<div></li>
			{%endif%}
			{%if loop.index%2==0%}
                        <li class="you">
                        <div class="entete">
                        <h2>Chatbot</h2>
                        <span class="status blue"></span></div>
                        <div class="triangle"></div>
			
			<div class="message">{{value}}<div></li>
			
			{%endif%}

                        {%endfor%}
  
		</ul>
		<footer>
		   <form id="chatform" action="/post" method="post">

			<input type="text" id="msg" name="msg" placeholder="Type your message">
			<input type="submit" value="제출" id="submit_btn" onclick="isLoading.start();" />

		</form>
		</footer>
	</main>
</div>
